*,
*::before,
*::after
  box-sizing: border-box

*::selection
  color: $selection-color
  background-color: $selection-bg-color

html, body
  padding: 0
  margin: 0

input,
button
  border: none
  outline: none

  &:focus
    outline: none

ol,
ul
  padding-left: 0
  list-style: none
li
  list-style-type: circle
  margin-left: 20px
  padding-left: 4px


//
// anchor
//
a.header-anchor
  position: absolute
  margin-left: -1em
  margin-top: 0.2em
  padding-right: 0.5em
  font-size 0.8em
  font-weight: 400
  opacity 0

  &:hover
    text-decoration none

h1,
h2,
h3,
h4,
h5,
h6
  position: relative

  &:hover .header-anchor
    opacity: 1

blockquote
  padding: 0.8rem 1.6rem
  border-left: 5px solid $black
  color: #888
  margin: 20px 0px

  p
    color: $black

    &:last-child
      margin-bottom: 0

table
  width: 100%
  max-width: 100%
  margin-bottom: 1rem
  background: #0000

table,
th,
td
  border: 1px solid $divider-color

th,
td
  padding: .75rem

.content.custom > h1,
.content.custom > h2,
.content.custom > h3,
.content.custom > h4,
.content.custom > h5,
.content.custom > h6
  margin-top: 1.25em

.content.custom h1:first-child,
.content.custom h2:first-child,
.content.custom h3:first-child
  margin-top: 0

.can-hide
  display: none !important