.container
  make-container()
  make-container-max-widths()

.container-fluid
  make-container()

.row
  make-row()

make-grid-columns()

.d-none
  @media (max-width: 768px)
    display: none

for $breakpoint in $breakpoints
  .justify-content-{$breakpoint}-start
    justify-content: flex-start !important
  .justify-content-{$breakpoint}-end
    justify-content: flex-end !important
  .justify-content-{$breakpoint}-center
    justify-content: flex-center !important
  .justify-content-{$breakpoint}-between
    justify-content: flex-between !important
  .justify-content-{$breakpoint}-around
    justify-content: flex-around !important

  .align-items-{$breakpoint}-start
    align-items: flex-start !important
  .align-items-{$breakpoint}-end
    align-items: flex-end !important
  .align-items-{$breakpoint}-center
    align-items: flex-center !important
  .align-items-{$breakpoint}-baseline
    align-items: flex-baseline !important
  .align-items-{$breakpoint}-stretch
    align-items: flex-stretch !important
