// colors
$white = #fff
$black = #000
$primary = #EF672E

$selection-color = $white
$selection-bg-color = black

$textColor = $black
$codeBgColor = #282c34

$border-color = #eaeaea
$divider-color = #eaeaea

$grid-columns = 12
$grid-breakpoints = {
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
}

$container-max-widths = {
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
}

$font-family-base = -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-family-monospace = "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace
$font-size-base = 14px
$line-height-base = 1.5

$link-color = #067df7
$link-decoration = none
$link-hover-color = #007bff
$link-hover-decoration = none
