try-import submodules/eventuals/dev-tools/.bazelrc


build --copt -fPIC

# Specific Bazel build/test options.
build --enable_platform_specific_config

build:macos --cxxopt='-std=c++20'

build:linux --cxxopt='-std=c++20'

build:windows --cxxopt="/std:c++20"

build:windows --compiler="clang-cl"

build:clang --action_env=CC=clang

# Allow users to add local preferences.
try-import %workspace%/user.bazelrc
