[submodule "pheonix/third_party/pybind11"]
	path = pheonix/third_party/pybind11
	url = https://github.com/pybind/pybind11
[submodule "pheonix/third_party/eventuals"]
	path = pheonix/third_party/eventuals
	url = https://github.com/3rdparty/eventuals
[submodule "pheonix/third_party/palanteer"]
	path = pheonix/third_party/palanteer
	url = https://github.com/dfeneyrou/palanteer
