click>=6.7,<8
pathos==0.2.2.1
boto3>=1.9.2,<3
botocore>=1.12.204
numpy>=1.18.1,<2 
tenacity>=5,<7
google-cloud-storage>=1,<2
lz4>=3,<4
retrying>=1,<2
cython
dask[complete]
pytest
distributed
requests
cachey
fsspec
s3fs