click>=6.7, <8
numpy>=1.17, <2
requests>=2, <3
fsspec>=0.8, <1
s3fs==0.5.2
gcsfs<0.8
lz4>=3, <4
zarr>=2.4, <2.7
boto3>=1.12.36, <2
tqdm>=4.1, <5
azure-storage-blob>=12, <13
pathos>=0.2, <0.3
humbug>=0.1.4, <0.2
Pillow>=6
msgpack>=0.6
psutil>=5.8  # needed only for deprecated code
