.custom-block
  padding: 0.8rem 1.6rem
  border-left: 5px solid $black
  color: #888
  margin: 20px 0px

  .custom-block-title
    margin-bottom: 1.4em
    font-weight 600
    color: $black

  &.tip
    border-color: $black

  &.warning
    border-color: #ffcb1e

    .custom-block-title
      color: #ffcb1e

  &.danger
    border-color: #f5222d

    .custom-block-title
      color: #f5222d

  p
    margin-bottom: 0
