{{- with .Values.externalSecrets }}
{{- range . }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .name }}
  labels:
  {{- if .labels }}
    {{- toYaml .labels | nindent 4 }}
  {{- end }}
    {{- include "pg-deeplake.labels" $ | nindent 4 }}
  {{- if .annotations }}
  annotations:
    {{- toYaml .annotations | nindent 4 }}
  {{- end }}
spec:
  {{- toYaml .spec | nindent 2 }}
{{- end }}
{{- end }}
