# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

on:
  pull_request: 

jobs:
  build:
    name: Python ${{ matrix.python-version }} - ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        python-version:
          - 3.6
          - 3.8
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Test AWS credentials validity
        run: aws sts get-caller-identity

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
          credentials_file_path: "gcs.json"

      - name: Test GCP credentials validity
        run: gcloud info

      - name: "Collect requirements"
        run: |
          pip3 install --upgrade pip --user
          pip3 install --upgrade setuptools
          pip3 install -r hub/requirements/tests.txt
          pip3 install -r hub/requirements/plugins.txt
          pip3 install -r hub/requirements/common.txt
          git clone https://github.com/activeloopai/buH.git
          pip3 install -e buH
          sh buH/buh/scripts/create_all.sh
          pip3 install -e .
        env:
          BUGGER_OFF: "true"

      - name: "Run tests"
        run: |
          python3 -m pytest --cov-report=xml --cov=./ --local --s3 --gcs --hub-cloud --ignore-glob=buH/*
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/gcs.json
          ENV_HUB_DEV_PASSWORD: ${{ secrets.ACTIVELOOP_HUB_PASSWORD }}
          ACTIVELOOP_HUB_PASSWORD: ${{ secrets.ACTIVELOOP_HUB_PASSWORD }}
          KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
          KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
