name: Langchain Tests

permissions:
  contents: read
  id-token: write

on: {}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  langchain-tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.7
        with:
          ref: ${{ github.sha }}

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          role-to-assume: ${{ secrets.aws_role_arn }}
          aws-region: us-east-1
          role-duration-seconds: 21600
          role-session-name: deeplake-${{ github.sha }}

      - name: configure environment
        working-directory: .github/langchain-tests
        shell: bash
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          python3 setup_actions.py
          curl -sSL https://install.python-poetry.org | python3 -
          poetry install
          pip install -r requirements.txt

      - name: run tests
        working-directory: .github/langchain-tests
        env:
          ACTIVELOOP_TOKEN: ${{ secrets.ACTIVELOOP_HUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        run: |
          source .venv/bin/activate
          python3 -m pytest test_activeloop*
