name: Lint
on:
  push:
    branches:
      - 'main'
  pull_request:


concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref_name }}

jobs:
  lint:
    name: python linting
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5.0.0

      - name: set up python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.10"

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r deeplake/requirements/common.txt  --use-deprecated=legacy-resolver
          pip install -r deeplake/requirements/tests.txt  --use-deprecated=legacy-resolver
          pip install -r deeplake/requirements/plugins.txt  --use-deprecated=legacy-resolver

      - name: install deeplake
        run: pip install -e .

      - name: check formatting with black
        if: always()
        run: |
          black --version
          black --check .

      - name: lint docstrings with darglint
        if: always()
        run: |
          darglint --version
          darglint .

      - name: check typing with mypy
        if: always()
        run: |
          mypy --version
          mypy .
