name: Lint
on:
  push:
    branches:
      - 'main'
  pull_request:


concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref_name }}

jobs:
  lint:
    name: Python linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3.1.4
        with:
          python-version: '3.10'
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('deeplake/requirements/*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r deeplake/requirements/common.txt
          pip install -r deeplake/requirements/tests.txt
          pip install -r deeplake/requirements/plugins.txt
      - name: Install deeplake
        run: pip install -e .
      - name: Check formatting with black
        continue-on-error: true
        run: |
          black --version
          black --check .
      - name: Lint docstrings with darglint
        continue-on-error: true
        run: |
          darglint --version
          darglint .
      - name: Check typing with mypy
        continue-on-error: true
        run: |
          mypy --version
          mypy .
