name: Lint
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
jobs:
  lint:
    name: Python linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('hub/requirements/*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r hub/requirements/common.txt
          pip install -r hub/requirements/tests.txt
          pip install -r hub/requirements/plugins.txt
      - name: Install Hub
        run: pip install -e .
      - name: Check formatting with black
        run: |
          black --version
          black --check .
      - name: Lint docstrings with darglint
        if: always() # Run even if previous check failed
        run: |
          darglint --version
          find . -type f -name "*.py" ! -path "./.venv/*" ! -path "./versioneer.py" | xargs darglint
      - name: Check typing with mypy
        if: always() # Run even if previous check failed
        run: |
          mypy --version
          mypy .
