name: Claude PR Review

on:
  issue_comment:
    types:
      - created
  pull_request:
    types:
      - opened

jobs:
  claude_review:
    if: |
      (
        github.event_name == 'pull_request' &&
        github.event.pull_request.draft == false
      ) ||
      (
        github.event_name == 'issue_comment' &&
        github.event.issue.pull_request &&
        github.event.comment.user.type != 'Bot' &&
        contains(github.event.comment.body, '/claude-review')
      )
    uses: >-
      ActiveloopAI/shared-github-actions/.github/workflows/claude-pr-review.yaml@main
    secrets:
      OP_SERVICE_ACCOUNT_TOKEN: "${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}"

  delete-runs:
    needs: claude_review
    if: always()
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: delete workflow run
        uses: mattraks/delete-workflow-runs@v2.1.0
        with:
          token: "${{ github.token }}"
          repository: "${{ github.repository }}"
          delete_workflow_pattern: claude_review
