name: Test

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - '**'

concurrency:
  cancel-in-progress: true
  group: ${{ github.repository }}-${{ github.ref_name }}

jobs:
  full-test:
    name: Full Test
    uses: activeloopai/shared-github-actions/.github/workflows/full_test.yml@set-matrix
    if: github.repository == 'activeloopai/deeplake' && ( github.ref_name == 'main' || startsWith( github.ref_name, 'release/' ))
    with:
      repo: ${{ github.repository }}
      ref: ${{ github.sha }}
      matrix: ${{ vars.FULL_MATRIX }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
      gcp_sa_credentials_json: ${{ secrets.GCP_SA_CREDENTIALS_JSON }}
      azure_creds_json: ${{ secrets.AZURE_CREDS_JSON }}
      hub_username: ${{ secrets.ACTIVELOOP_HUB_USERNAME }}
      hub_password: ${{ secrets.ACTIVELOOP_HUB_PASSWORD }}
      kaggle_username: ${{ secrets.KAGGLE_USERNAME }}
      kaggle_key: ${{ secrets.KAGGLE_KEY }}
      oauth_client_id: ${{ secrets.GDRIVE_CLIENT_ID }}
      oauth_client_secret: ${{ secrets.GDRIVE_CLIENT_SECRET }}
      oauth_refresh_token: ${{ secrets.GDRIVE_REFRESH_TOKEN }}
      sonar_token: ${{ secrets.SONAR_TOKEN }}

  test:
    name: Test
    uses: activeloopai/shared-github-actions/.github/workflows/full_test.yml@set-matrix
    if: github.repository == 'activeloopai/deeplake' && ! ( github.ref_name == 'main' || startsWith( github.ref_name, 'release/' ))
    with:
      repo: ${{ github.repository }}
      ref: ${{ github.sha }}
      matrix: ${{ vars.STRIPPED_MATRIX }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
      gcp_sa_credentials_json: ${{ secrets.GCP_SA_CREDENTIALS_JSON }}
      azure_creds_json: ${{ secrets.AZURE_CREDS_JSON }}
      hub_username: ${{ secrets.ACTIVELOOP_HUB_USERNAME }}
      hub_password: ${{ secrets.ACTIVELOOP_HUB_PASSWORD }}
      kaggle_username: ${{ secrets.KAGGLE_USERNAME }}
      kaggle_key: ${{ secrets.KAGGLE_KEY }}
      oauth_client_id: ${{ secrets.GDRIVE_CLIENT_ID }}
      oauth_client_secret: ${{ secrets.GDRIVE_CLIENT_SECRET }}
      oauth_refresh_token: ${{ secrets.GDRIVE_REFRESH_TOKEN }}
      sonar_token: ${{ secrets.SONAR_TOKEN }}
