name: Test
on:
  push:
    branches:
      - main

jobs:
  cancel-previous:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs if available
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          all_but_latest: true
          access_token: ${{ github.token }}
  test-pr:
    uses: activeloopai/shared-github-actions/.github/workflows/local_test.yml@main
    with:
      repo: ${{ github.repository }}
      ref: ${{ github.sha }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
  full-test:
    uses: activeloopai/shared-github-actions/.github/workflows/full_test.yml@main
    if: github.repository == 'activeloopai/Hub'
    with:
      repo: ${{ github.repository }}
      ref: ${{ github.sha }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      aws_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      gcp_project_id: ${{ secrets.GCP_PROJECT_ID }}
      gcp_sa_key: ${{ secrets.GCP_SA_KEY }}
      hub_password: ${{ secrets.ACTIVELOOP_HUB_PASSWORD }}
      kaggle_username: ${{ secrets.KAGGLE_USERNAME }}
      kaggle_key: ${{ secrets.KAGGLE_KEY }}
